



.nav{
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    bottom: 0;
    background-color: #b2d1cf;
    width: 140px;
    height:100%;
    font-size: 18px;
    overflow:auto;
}

  .navbtn {
    border: none;
    border-bottom: 2px solid white;
    color: black;
    top: 0;
    padding: 0px;
    text-align:left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 100%;
    font-size: 16px;
    background-color: #ffffff;
  }

  .thmbtn {
    border: none;
    border-bottom: 2px solid white;
    color: black;
    top: 0;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 100%;
    font-size: 16px;
    /* background-color: #aedeee; */
  }
  .toggle {
    position: absolute;
    bottom: 0;
    border: none;

    color: black;
    left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font-size: 16px;
    /* background-color: #aedeee; */
  }
  button:hover {
    background-color: #81c7c2;
    color: white;
  }

  .cont{
  position:absolute;
  width:85%;
  max-width: 85%;
  top:0;
  margin-left: 150px;
  overflow: auto;
  height: 73%;
  padding: 20px;
  background-color: #e6fff6;
  font-size: 20px;
 }


  .message{
    position: absolute;
    width: 85%;
    max-width: 85%;
    margin-bottom: 0;
    bottom: 0px;
    height: 12%;
    margin-left: 150px;
    background-color: #3AAACF;
    font-size: 14px;
    padding: 20px;
    overflow:auto;

  }
  .time{
    font-size: 12px;
    color: white;
  }
